@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;
    display: flex;
}
.menu-item {
    margin-right: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #172330;
    letter-spacing: 0.875px;
    cursor: pointer;
}
.button-entrar {
    background: #6fbf44;
    border-radius: 6px;
    border: 1px solid #4cb538;
    width: 124px;
    height: 51px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    line-height: 24px;
    color: #FFFFFF;

}   

img {
    margin: 163px 0 0 123px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 85px;
    width: 493px;

}

h1 {
    font-weight: 500;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154;
    color: #161a49;
}
p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
    margin-top: 47px;
    margin-bottom: 15px;
}   

.button-saiba-mais {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6fbf44;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  main {
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.95rem;
    width: 100%;
  }

  .button-main, .button-header {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }
}
